body {
    margin: 0px;
    padding: 0px;
    background-image: url(/trianglify.png);
    background-size: cover;
    overflow: hidden;
}

#header {
    position: fixed;
    background: #55000000;
    width: 100%;
    height: 20px;
}
